<div class="app-container">
  <mat-toolbar color="primary" *ngIf="isLoggedIn">
    <span class="toolbar-title">Öğrenci-Öğretmen Kurs Yönetim Sistemi</span>
    <span class="spacer"></span>
    <span class="user-info" *ngIf="currentUser">
      {{ currentUser.name }} {{ currentUser.surname }} 
      <span class="role-badge" [ngClass]="{'student': isStudent, 'teacher': isTeacher}">
        {{ isStudent ? 'Öğrenci' : 'Öğretmen' }}
      </span>
    </span>
    <button mat-icon-button (click)="logout()" matTooltip="Çıkış Yap">
      <mat-icon>exit_to_app</mat-icon>
    </button>
  </mat-toolbar>

  <div class="content-container">
    <router-outlet></router-outlet>
  </div>
</div>
